/* Styles unique to the contact page */
.contact-section {
  padding: 40px;
  border: 1px solid #555;
  border-radius: 8px;
}

.contact-page {
  background-color: #262626;
  padding: 20px;
}

.contact-page form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.contact-page label {
  margin-top: 1rem;
}

.contact-page input,
.contact-page textarea {
  margin-top: 0.5rem;
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444444;
  padding: 0.5rem;
}
