.devlog-page {
  background-color: #262626;
  padding: 20px;
}

.devlog-entry {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #444444;
  padding-bottom: 1rem;
}

.devlog-entry a {
  color: #bb86fc;
  text-decoration: underline;
}
