/* Styles unique to the home page */

.home-section {
  color: #e0e0e0;
}

.introduction {
  padding: 40px 0;
}

.introduction h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Ensure sections within the columns have proper spacing */
.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 10px;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.about-content {
  flex: 0 0 70%;
  max-width: 70%;
  word-wrap: break-word;
}

.about-photo {
  flex: 0 0 30%;
  max-width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}