
.project-container {
    max-width: 100%;
    margin: auto;
    padding: 5px;
}
.project-header {
    text-align: center;
    margin-bottom: 20px;
  }
.project-content {
    display: flex;
    gap: 20px;
}
.project-sidebar {
    flex: 0 0 30%;
    background: #222;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.project-main-content {
    flex: 0 0 70%;
}
.project-footer {
    margin-top: 20px;
    text-align: center;
}
.back-button {
    text-decoration: none;
    background: #007acc;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
