/* projects.css */

@import url('global.css');

/* Specific styles for the projects page */
header {
  background-color: #333333; /* Dark grey background for the header */
}

section#projects-list {
  background-color: #2a2a2a; /* Darker background for the projects section */
  border-left: 4px solid #800080; /* Purple border for projects section */
}

.project {
  background-color: #2b2b2b; /* Dark grey background for individual projects */
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

.project:hover {
  transform: scale(1.02); /* Slightly enlarge project on hover */
}

.project-title {
  color: #ffffff; /* White text for project titles */
  font-size: 1.5em;
}

.project-description {
  color: #cccccc; /* Light grey text for project descriptions */
}