---
layout: default
---

<section class="projects-grid">
  <h1>{{ page.title }}</h1>
  
  <!-- Loop through all items in the `projects` collection -->
  <div class="notion-projects">
    {% for project in site.projects %}
      <div class="project-card">
        <a href="{{ project.url | relative_url }}">
          <!-- <img src="{{ project.image | relative_url }}" alt="{{ project.title }}"> -->
          <h2>{{ project.title }}</h2>
        </a>

      </div>
    {% endfor %}
  </div>
</section>
