---
layout: default
title: "project-overview"
css: "/css/project_overview.css"
---

<main class="project-container">
  <header class="portfolio-header">
    <h1>{{ page.title }}</h1>
  </header>

  <section class="project-content">
    <div class="project-sidebar">
      <h2>Project Details</h2>
      <ul>
        <strong>Technologies:</strong> {{ page.technologies | join: ", " }}<br>
        <strong>Date:</strong> {{ page.date | date: "%Y-%m-%d" }}<br>
        <strong>Category:</strong> {{ page.category }}
    </div>
    
    <div class="project-main-content">
      {{ content }}
    </div>
  </section>
</main>
